<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="../styles.css" type="text/css">
    <script src="../require.js"></script>
    <script src="../emphasis-src.js"></script>
  </head>
  <body>
    {{content}}
    <hr>
    <p>Hint: if you wish to comment on a portion of this document, just
      double tap the shift key. You'll be able to get a URL for any
      paragraph, and even highlight parts of the text. This is thanks
      to <a href="http://open.blogs.nytimes.com/2011/01/11/emphasis-update-and-source/">Emphasis</a>.
    </p>
  </body>
</html>
